body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

/* BOARD LOGO Aaaaaaahhhhh */

.board {
    margin: auto;
    color: #fff;
    font-size: 4rem;
    padding: .5em 1em;
    border: 5px solid #fff;
    display: flex;
    align-items: center;
}
.board .logo {
    margin-right: .5em;
    width: 2em;
    height: 2em;
    border: .2em solid #fff;
    border-radius: 25% 25% 0 25%;
    position: relative;
}
.board .logo .flash {
    position: absolute;
    width: .2em;
    height: .2em;
    background-color: #fff;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
}
.board .logo .camera {
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.board h1 {
    margin: 0;
}

/* NAVBAR :) */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    padding: 1rem 10rem;
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar .board {
    font-size: 1rem;
    color: #000;
    border-color: #000;
    margin: 0;
}
.navbar .board .logo {
    border-color: #000;
}
.navbar .board .flash, .navbar .board .camera {
    background-color: #000;
}
.navbar a {
    padding: 0 1em;
    text-decoration: none;
    color: #222;
}

/* BANNER :( */

.banner {
    margin-top: 10vh;
    height: 90vh;
    display: grid;
}