body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Courier Prime', monospace;
}

.loader {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

/* BOARD LOGO Aaaaaaahhhhh */
/* Very bad code :/ */

.board {
    margin: auto;
    color: #fff;
    font-size: 4rem;
    padding: .5em 1em;
    border: 5px solid #fff;
    display: flex;
    align-items: center;
}
.board .logo {
    margin-right: .5em;
    width: 2em;
    height: 2em;
    border: .2em solid #fff;
    border-radius: 25% 25% 0 25%;
    position: relative;
}
.board .logo .flash {
    position: absolute;
    width: .2em;
    height: .2em;
    background-color: #fff;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
}
.board .logo .camera {
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.board h1 {
    margin: 0;
}

/* NAVBAR :) */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    padding: 1rem 10rem;
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0.1em 10px #000;
}

.navbar .board {
    font-size: 1rem;
    color: #000;
    border-color: #000;
    margin: 0;
}
.navbar .board .logo {
    border-color: #000;
}
.navbar .board .flash, .navbar .board .camera {
    background-color: #000;
}
.navbar a {
    padding: 0 1em;
    text-decoration: none;
    color: #222;
}

/* BANNER :( */

.banner {
    margin-top: 10vh;
    height: 90vh;
    display: grid;
}

/* Slide Styles */

.slide {
	background-color: #fff;
	height: 90vh;
	position: relative;
	font-size: 1rem;
	display: grid;
} 
.slide .content {
	z-index: 1;
	padding: 10vh 20vw;
	display: flex;
	gap: 5em;
	justify-content: center;
	align-items: center;
}
.slide .content p {
	text-align: justify;
}
.slide .content img {
	height: 70vh;
}

/* Slide One */

.slide-01 .top-triangle {
	position: absolute;
	top: 0;
	left: 0;
	height: 0px;
	width: 0px;
	border-left: 10vw solid #000;
	border-right: 10vw solid  #fff;
	border-top: 10vw solid #000;
	border-bottom: 10vw solid #fff;
	z-index: 0;
}
.slide-01 .bot-triangle {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0px;
	width: 0px;
	border-top: 20vw solid #000;
	border-left: 20vw solid  #fff;
	border-bottom: 20vw solid #000;
	border-top: 20vw solid #fff;
	z-index: 0;
}

/* Slide Two */
.slide-02 {
	background-color: #000;
}
.slide-02 video {
	width: 100%;
}

/* Slide Three */

.slide-03 .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80vh;
	width: 80vh;
	background-color: #000;
	border-radius: 50%;
}
.slide-03 h3, .slide-03 h4 {
	color: #fff;
}

/* Footer */
footer {
	color: #fff;
}
footer p {
	text-align: center;
}

/* APP STYLES */

.content-app {
	margin: 10vh 10vw 0;
	padding: 5vh 0;
}
.content-app h1 {
	color: #fff;
}
.content-app .app-images {
	display: flex;
	justify-content: space-between;
	gap: 2em;
	margin-bottom: 10vh;
}
.galery img {
	width: 100%;
}
.app-images img {
	width: 20vw;
}
.galery-logo img {
	width: 10vw;
}
.suport-galery img {
	width: 20vw;
}

/* ABOUT STYLES */

.relatorio {
	margin: 10vh 10vw 0;
	padding: 5vh 0;
	color: #fff;
}
.relatorio-days {
	margin-left: 2em;
	text-align: justify;
}
.relatorio-resources {
	margin-left: 2em;
}
.relatorio-video {
	margin-left: 2em;
	text-align: justify;
}
.sustentabilidade {
	margin-left: 2em;
	text-align: justify;
}
